<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{pageTitle}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-spinner style="display: block;margin: auto;" *ngIf="showSpinner"></ion-spinner>
  <ion-grid center text-center *ngIf="showNetworkCheck">
    <ion-row>
      <ion-col style="font-size: 18px;">
        <ion-icon name="wifi"></ion-icon>
        No promotion found. Check network connection?
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card *ngFor="let promoCode of promoCodes">
    <ion-item>
      <ion-icon name="pricetag" item-start large style="color:#F57C00;"></ion-icon>
      <h2 [innerHTML]='promoCode.title'></h2>
      <p [innerHTML]='promoCode.subTitle'></p>
    </ion-item>
    <ion-card-content>
      <p [innerHTML]='promoCode.details'></p>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small (click)="onCopyBtnClick(promoCode.clipboard)">
          <ion-icon name="copy"></ion-icon>
          <div>Copy to clipboard</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
